# Default: all filter list changes require Ryan approval.
# Note: If you're blocked on a PR, ping Shivan or Anton for admin merge.
brave-lists/** @ryanbr
# debounce.json can rely on sec-team approval.
brave-lists/debounce.json @brave/sec-team
# Brave-critical lists need Shivan and Anton review.
brave-lists/brave-specific.txt @brave/adblock-brave-specific-filters-team
