# Default: all filter list changes require Ryan review unless specified otherwise.
brave-lists/** @ryanbr
# debounce.json can rely on sec-team approval.
brave-lists/debounce.json @brave/sec-team
# Brave-critical lists need Shivan and Anton review.
brave-lists/brave-specific.txt @ShivanKaul @antonok-edm
