# Default: all filter list changes require adblock team review unless specified otherwise.
brave-lists/** @brave/adblock-filters-team
# debounce.json can rely on sec-team approval.
brave-lists/debounce.json @brave/sec-team
# Brave-critical lists need Shivan and Anton review.
brave-lists/brave-specific.txt @brave/adblock-brave-specific-filters-team
