name: Debounce Validation

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  debounce-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install requirements
        run: pip install -r tools/debounce_validation/requirements.txt

      - name: Run test suite
        run: python3 -m unittest discover -s tools/debounce_validation
